.contentContainer {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-width: 0.125rem;
	--tw-border-opacity: 1;
	border-color: rgb(117 72 254 / var(--tw-border-opacity));
	padding: 2rem;
	border-radius: 1rem;
	line-height: 2;
	color: rgb(200, 200, 200);
}
@media (min-width: 640px) {
	.contentContainer {
		padding-left: 4rem /* 64px */;
		padding-right: 4rem /* 64px */;
	}
	.contentContainer {
		padding-top: 5rem /* 80px */;
		padding-bottom: 5rem /* 80px */;
	}
}

.contentContainer h2,
.contentContainer h3 {
	color: white;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.contentContainer h2 {
	font-size: 2.8rem;
	margin-top: 4rem;
}
.contentContainer h2:first-child {
	margin-top: 0;
}
.contentContainer h3 {
	font-size: 1.8rem;
	margin-top: 2rem;
}
@media (max-width: 640px) {
	.text-h2 {
		font-size: 2.25rem;
	}
}

.contentContainer a {
	text-decoration: none;
	color: #7548fe;
}

.contentContainer ul li {
	list-style: url('/svgs/purple-circle.svg');
	list-style-position: inside;
}

.contentContainer table {
	border-collapse: collapse;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.contentContainer td,
.contentContainer th {
	border: 0.0625rem solid #ddd;
	padding: 0.5rem;
}

/* .contentContainer tr:nth-child(even) {
}
.contentContainer tr:hover {
} */

.contentContainer th {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-align: left;
	color: white;
}

:global([dir='rtl']) .contentContainer th {
	text-align: right;
}

.contentContainer strong {
	font-weight: bold;
	color: white;
}

.contentContainer em {
	color: white;
	font-style: italic;
}
